$white: white;
$lightBlue: #8e99f3;
$blue:#5c6bc0;
$darkBlue: #26418f;
$zelena: #ee9393;
$crvena: #65df98;
$shadow: rgba(106, 108, 226, 0.1);
$crna: black;
$background: rgb(200, 211, 214);
$try: rgb(223, 223, 223);
$disabled: #bbbdce;